.employee-form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    /* height: 100vh; */
}

.login_container {
    /* margin-top: 7rem; */
    background-color: aliceblue;
    width: 500px;
    /* height: 430px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    overflow: hidden;
}

.login_title {
    /* margin-bottom: 1rem; */
    text-align: center;
    color: #0c7db1;
}

.login_form {
    width: 100%;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-div label {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.input-div input {
    padding: 0.7rem 1rem;
    border: 1px solid black;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
    background-color: transparent;
    font-size: 15px;
}

.login_btn {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.6rem 0;
    background-color: #0c7db1;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
} */

.navigate_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigate_sign_btn{
    width: 40%;
    margin-top: 1.5rem;
    padding: 0.6rem 0;
    background-color: #10558d;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
/* .navigate_btn{
    width: 40%;
    margin-top: 1.5rem;
    padding: 0.6rem 0;
    background-color: #10558d;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
} */

.select_dropdown{
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid black;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
    background-color: transparent;
    font-size: 15px;
}