.navbar {
    width: 100%;
    height: 8vh;
    top: 0;
    position: fixed;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: bold;
    color: #10558d;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li a {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 2rem;
    color: #10558d;
    transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
    color: #0c7db1;
    font-weight: bold;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2rem;
    /* padding: 0 2rem; */
    color: #10558d;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.logout:hover {
    color: #0c7db1;
    font-weight: bold;
}

.userName{
    margin-right: 20px;
    color: black;
}