.profile_contailer {
    width: 500px;
}

.profile_contailer h1 {
    text-align: center;
    margin: 2rem 0;
}

.profile_div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile_div p {
    /* color: red; */
    padding: 3px 0;
}

.profile_div button{
    width: 200px;
    margin: 1rem;
    padding: 0.6rem 0;
    background-color: #0c7db1;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}